services:
  netbox:
    ports:
      - "443:8080"
    build:
      context: .
      dockerfile: Dockerfile-plugins
  netbox-worker:
    build:
      context: .
      dockerfile: Dockerfile-plugins
  netbox-housekeeping:
    build:
      context: .
      dockerfile: Dockerfile-plugins
